{% extends 'layout.html' %}
    {% block body %}
        <div class="jumbotron text-center">
            <h1>Tickets</h1>
            <table class="table text-center">
                
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Requester ID</th>
                    <th>Assignee ID</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Tags</th>
                </tr>
            
                    <tr>
                        <td><a href="/singleTicket/{{tickets.id}}">{{ tickets.id }}</a></td>
                        <!--
                        {% block content %}
                            {% if tickets.status == "open" %}
                                <td style="color:green">open</td>
                            
                            {% else %}
                                <td style="color:red">close</td>
                            
                            {% endif %}
                        {% endblock content %}
                        -->
                        <td>{{ tickets.status }}</td>
                        <td>{{ tickets.requestID }}</td>
                        <td>{{ tickets.assignID }}</td>
                        <td>{{ tickets.subject }}</td>
                        <td>{{ tickets.description }}</td>
                        <td>{{ tickets.tags }} </td>
                      
                    </tr>

            </table>
        </div>
    {% endblock %}
  